*background: #282828
*foreground: #ebdbb2
!! black
*color0: #1b1918
*color8: #766e6b
!! red
*color1: #f22c40
*color9: #f22c40
!! green
*color2: #5ab738
*color10: #5ab738
!! yellow
*color3: #d5911a
*color11: #d5911a
!! blue
*color4: #407ee7
*color12: #407ee7
!! magenta
*color5: #6666ea
*color13: #6666ea
!! cyan
*color6: #00ad9c
*color14: #00ad9c
!! white
*color7: #a8a19f
*color15: #f1efee
!! orange
*color16: #d97d19


! rofi config
rofi.color-window: argb:d0000000, #373B47
rofi.color-normal: argb:00373B47, #d97d19, argb:00373B47, argb:20d97d19, #FFAC52
rofi.color-urgent: argb:00373B47, #FFAC52, argb:90000000, argb:20d97d19, #FFAC52
rofi.color-active: argb:00373B47, #FFAC52, argb:90000000, argb:20d97d19, #FFAC52

rofi.fake-transparency:	true

rofi.font: Open Sans Light 14
rofi.width: 48
rofi.lines: 12
rofi.padding: 2

rofi.bw: 0
rofi.eh: 1
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.show-icons: true
rofi.modi: window,run,drun
