*foreground: #00cc00
*foreground_bold: #a8a19f
*cursor: #a8a19f
!!background      = #1b1918
!!*background: rgba(0, 0, 0, .7)

!! black
*color0: #1b1918
*color8: #766e6b
!! red
*color1: #f22c40
*color9: #f22c40
!! green
*color2: #5ab738
*color10: #5ab738
!! yellow
*color3: #d5911a
*color11: #d5911a
!! blue
*color4: #407ee7
*color12: #407ee7
!! magenta
*color5: #6666ea
*color13: #6666ea
!! cyan
*color6: #00ad9c
*color14: #00ad9c
!! white
*color7: #a8a19f
*color15: #f1efee
!! orange
*color16: #d97d19

URxvt.intensityStyles:	false
!!URxvt.background:       [70]#000000
URxvt.depth:		32
URxvt.font: 		xft:monospace:size=11
URxvt.scrollBar:	false
URxvt.cursorColor:	white
URxvt.perl-ext-common:	default,matcher,resize-font
URxvt.perl-lib:		$HOME/.config/Scripts
URxvt.url-launcher:	/usr/bin/xdg-open
URxvt.matcher.button:	1
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
URxvt.colorUL:		#4682B4

rofi.color-window: argb:d0000000, #373B47
rofi.color-normal: argb:00373B47, #d97d19, argb:00373B47, argb:20d97d19, #FFAC52
rofi.color-urgent: argb:00373B47, #FFAC52, argb:90000000, argb:20d97d19, #FFAC52
rofi.color-active: argb:00373B47, #FFAC52, argb:90000000, argb:20d97d19, #FFAC52

rofi.fake-transparency:	true

rofi.font: Open Sans Light 14
rofi.width: 48
rofi.lines: 12
rofi.padding: 2

rofi.bw: 0
rofi.eh: 1
/* rofi.sidebar-mode: true */
/* rofi.location: 8 */
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.show-icons: true
rofi.modi: window,run,drun
